*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

mainContainer{
    font-family:  'Poppins', sans-serif;
}
mainContainer>navbar{
    background-color: rgba(28, 30, 83, 1);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 60px;
    align-items: center;
    padding-bottom: 10px;
}
mainContainer>navbar>div{
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1480px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
mainContainer>navbar>div>p{
    height: 25px;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    transform: rotate(90deg);
    cursor: pointer;
}
mainContainer>navbar>div>ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

mainContainer>navbar>div>ul.aside.active{
    left: 0;
    transition: 0.5s;
   }
mainContainer>navbar>div>ul>li{
    display: flex;
    flex-direction: column;
    padding: 0 7px;
    height: 30px;
    position: relative;
    cursor: pointer;
    width: 80px;
    gap: 5px;
}
mainContainer>navbar>div>ul>li>a{
    text-decoration: none;
    color: white;
}
mainContainer>navbar>div>ul>li::after {
    display: block;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: rgba(53, 175, 191, 1);
    transition: 400ms;
}
mainContainer>navbar>div>ul>li:hover::after {
    width: 100%;
 }
mainContainer>navbar>div>ul.aside>button.pakel{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    font-size: 25px;
    cursor: pointer;
}
mainContainer>navbar>div>button{
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 30px;
    
    
}
mainContainer>navbar>div>button:active{
    background-color: #282938;
}
mainContainer>navbar>div>button>a{
    color: white;
text-decoration: none;

}

mainContainer>header{
    background-color: rgba(28, 30, 83, 1);
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 100px 0;

}
mainContainer>header>div{
    display: flex;
    width: 80%;
    max-width: 1480px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
mainContainer>header>div>.building{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 400px;
    gap: 20px;
}
mainContainer>header>div>.building>h1{
    font-size: 270%;
}
mainContainer>header>div>.building>p{
    font-size: 13px;
}
mainContainer>header>div>.building>div{
    display: flex;
    gap: 30px;
    align-items: center;
}
mainContainer>header>div>.building>div>button{
    background-color: rgba(252, 217, 128, 1);
    color: black;
    padding: 10px 25px;
    border-radius: 41px;
    border: none;
    
}
mainContainer>header>div>.building>div>button>a{
    text-decoration: none;
    color: black;
}
mainContainer>header>div>.building>div>span>a{
    text-decoration: none;
    color: white;
}
mainContainer>header>div>.img{
    display: flex;
    position: relative;
    flex: 1 1 400px;
}
mainContainer>header>div>.img>.mejtex{
    width: 100%;
}
mainContainer>header>div>.img>.mejtex>img{
    width: 100%;
}
mainContainer>header>div>.img>.dzaxNkar{
    width: 30%;
    height: 120px;
    background-color: rgba(64, 65, 110, 1)  ;
    border-radius: 10px ;
    border: 2px solid rgba(255, 255, 255, 0.17);
    position: absolute;
    top: 25%;
    left: 2%;
    padding: 25px 15px;
    display: flex;
    gap: 10px;
    animation-duration: 10s;
    animation-name: aj;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    opacity: 0.8;

}
mainContainer>header>div>.img>.dzaxNkar>.nkar{
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.17);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px;
}
mainContainer>header>div>.img>.dzaxNkar>.nkar>div{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
mainContainer>header>div>.img>.dzaxNkar>.nkar>div>img{
    width: 100%;
}
mainContainer>header>div>.img>.dzaxNkar>.nkar>div>div{
    width: 10px;
    height: 10px;
    background-color: rgba(196, 197, 220, 1);
    border-radius: 50%;
    display: flex;
}
mainContainer>header>div>.img>.dzaxNkar>.te{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}
mainContainer>header>div>.img>.dzaxNkar>.te>.gcer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

mainContainer>header>div>.img>.dzaxNkar>.te>.gcer>.gic1{
    width: 80%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 10px;
}
mainContainer>header>div>.img>.dzaxNkar>.te>.gcer>.gic2{
    width: 80%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
}
mainContainer>header>div>.img>.dzaxNkar>.te>.klor{
    display: flex;
    gap: 5px;
    width: 100%;
}
mainContainer>header>div>.img>.dzaxNkar>.te>.klor>.klor1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(118, 119, 153, 1);
}

mainContainer>header>div>.img>.dzaxNkar>.te>.klor>.klor2{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(118, 119, 153, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

mainContainer>header>div>.img>.ajNkar{
    width: 30%;
    height: 120px;
    background-color: rgba(64, 65, 110, 1)  ;
    border-radius: 10px ;
    border: 2px solid rgba(255, 255, 255, 0.17);
    position: absolute;
    bottom: 10%;
    right: -3%;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    animation-duration: 10s;
    animation-name: dzax;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    opacity: 0.8;
}
mainContainer>header>div>.img>.ajNkar>.tox1{
    background-color: rgba(255, 255, 255, 0.56);
    width: 100%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox2{
    display: flex;
    gap: 5px;
}
mainContainer>header>div>.img>.ajNkar>.tox2>.narnjaguyn{
    background-color: rgba(249, 199, 70, 0.52);
    width: 40%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox2>.kanach{
    background-color: rgba(132, 235, 229, 0.62) ;
    width: 20%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox3{
    display: flex;
    gap: 5px;
}
mainContainer>header>div>.img>.ajNkar>.tox3>.spitak1{
    background-color: rgba(255, 255, 255, 0.58);
    width: 50%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox3>.spitak2{
    background-color: rgba(255, 255, 255, 0.58);
    width: 30%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox4{
    display: flex;
    gap: 5px;
}
mainContainer>header>div>.img>.ajNkar>.tox4>.karmir{
    background-color: #F37D9D ;
    width: 25%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox4>.dexin{
    background-color: #F2C87D ;
    width: 17%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox4>.spitak{
    background-color: rgba(255, 255, 255, 0.62);
    width: 40%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox5{
    background-color: #70D1E7;
    width: 57%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox6{
    display: flex;
    gap: 5px;
}
mainContainer>header>div>.img>.ajNkar>.tox6>.spitak{
    background-color: rgba(255, 255, 255, 0.56);
    width: 40%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>header>div>.img>.ajNkar>.tox6>.karmir{
    background-color: #F47D9E;
    width: 20%;
    height: 5px;
    border-radius: 10px;
}
mainContainer>nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(244, 246, 252, 1);
}

mainContainer>nav>div{
    display: flex;
    width: 80%;
    max-width: 1480px;
    padding: 150px 0;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
}
mainContainer>nav>div>.work{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
mainContainer>nav>div>.work>h2{
    font-size: 30px;
}
mainContainer>nav>div>.work>span{
    max-width: 300px;
    color: rgba(40, 41, 56, 0.551);
    font-size: 14px;
}
mainContainer>nav>div>.work>p{
    color: #2405F2;
    display: flex;
    align-items: center;
    gap: 10px;
}
mainContainer>nav>div>.cards{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
mainContainer>nav>div>.cards>div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
mainContainer>nav>div>.cards>div>p{
    font-size: 14px;
    color: rgba(40, 41, 56, 0.551);
    max-width: 230px;
}
mainContainer>nav>div>.cards>div>div{
    position: relative;
}
mainContainer>nav>div>.cards>div>div>p{
    position: absolute;
    left: 15px;
    top: 15px;
    color: white;
}
mainContainer>Features{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(244, 246, 252, 1);
    padding-bottom: 100px;
}
mainContainer>Features>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
mainContainer>Features>div>.feauters{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
mainContainer>Features>div>.feauters>h2{
    max-width: 390px;
    font-size: 31px;
    text-align: center;
}
mainContainer>Features>div>.cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-between;
}
mainContainer>Features>div>.cards>.card{
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
mainContainer>testimonials{
    background-color: rgba(244, 246, 252, 1);
    display: flex;
    width: 100%;
    justify-content: center;
    
}
mainContainer>testimonials>div{
    display: flex;
    width: 80%;
    max-width: 1480px;
    gap: 70px;
    padding: 70px 0;
    flex-wrap: wrap;
    justify-content: space-around;
}
mainContainer>testimonials>div>.clients{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 400px;
}
mainContainer>testimonials>div>.clients>p{
    font-size: 13px;
    color: rgba(40, 41, 56, 0.597);
}
mainContainer>testimonials>div>.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 400px;
    align-items: center;
}
mainContainer>testimonials>div>.content>p{
    max-width: 500px;
    font-size: 22px;
    
}
mainContainer>testimonials>div>.content>.Jenny{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
mainContainer>testimonials>div>.content>.Jenny>div.img{
    display: flex;
    gap: 4px;
    align-items: flex-start;
    flex-direction: column;

}
mainContainer>testimonials>div>.content>.Jenny>div>img{
    border-radius: 50%;
}
mainContainer>testimonials>div>.content>.Jenny>div.img:nth-child(n+2){
    display: none;
}
mainContainer>testimonials>div>.content>.Jenny>div>div>p{
    font-size: 13px;
}
mainContainer>testimonials>div>.content>.Jenny>div>span{
    padding: 7px 10px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
mainContainer>testimonials>div>.content>.Jenny>div>span:active{
    background-color: blue;
    color: white;
}
mainContainer>footer{
    background-color: rgba(28, 30, 83, 1);
    color: white;
    padding-top: 50px;
    /* min-height: 400px; */
    width: 100%;
    display: flex;
    justify-content: center;
}
mainContainer>footer>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    gap: 70px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}
mainContainer>footer>div>.finsweet{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
mainContainer>footer>div>.finsweet>p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.607);
}
mainContainer>footer>div>.talk{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
mainContainer>footer>div>.talk>h2{
    font-size: 35px;
}
mainContainer>footer>div>.talk>p{
    max-width: 350px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.614);
}
mainContainer>footer>div>.talk>.online{
    display: flex;
    gap: 20px;
}
mainContainer>footer>div>.orange{
    position: relative;
    bottom: 0;
    background-color: rgba(252, 217, 128, 1);
    color: black;
    padding: 10px 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

mainContainer>footer>div>.orange>div>a{
    color: rgba(40, 41, 56, 0.712);
    font-size: 13px;
    text-decoration: none;
    
    
}
mainContainer>.verj{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
mainContainer>.verj>div{
    flex-wrap: wrap;
    width: 80%;
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
mainContainer>.verj>div>ul{
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
mainContainer>.verj>div>ul>li>a{
    text-decoration: none;
    color: black;
}
mainContainer>.verj>div>ul>li>a:hover{
    color: rgba(0, 0, 0, 0.454);
}

mainContainer>.aboutUs{
    display: flex;
    padding: 70px 0;
    width: 100%;
    justify-content: center;
}
mainContainer>.aboutUs>div{
    display: flex;
    width: 80%;
    max-width: 1480px;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
}
mainContainer>.aboutUs>div>img{
    width: 60%;
}
mainContainer>.aboutUs>div>.problems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
mainContainer>.aboutUs>div>.problems>h2{
    font-size: 30px;
    max-width: 300px;
}
mainContainer>.aboutUs>div>.problems>span{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.504);
    max-width: 300px;
}
mainContainer>.are{
    display: flex;
    width: 100%;
    justify-content: center;
}
mainContainer>.are>div{
    padding: 50px 70px;
    background-color: #F4F5F5;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1480px;
    gap: 20px;
    
}
mainContainer>.are>div>.goal{
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
}
mainContainer>.are>div>.goal>.focussed{
    display: flex;
    flex-direction: column;
    gap:20px;
    flex: 1 1 400px;
}
mainContainer>.are>div>.goal>.focussed>h3{
    font-size: 25px;
}
mainContainer>.are>div>.goal>.focussed>span{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.521);
}
mainContainer>.img{
    display: flex;
    width: 100%;
    justify-content: center;
}

mainContainer>.img>div{
    width: 80%;
    max-width: 1480px;
}
mainContainer>.img>div>img{
    width: 100%;
}
mainContainer>.benefits{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 70px 0;
}
mainContainer>.benefits>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    flex-direction: column;
    
    gap: 30px;
}
mainContainer>.benefits>div>.working{
    text-align: center;
    display: flex;
    justify-content: center;
}
mainContainer>.benefits>div>.working>h2{
    font-size: 27px;
    max-width: 350px;
}
mainContainer>.benefits>div>.cards{
    justify-content: space-between;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
mainContainer>.benefits>div>.cards>.card{
    background-color: #F4F6FC;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
mainContainer>.benefits>div>.cards>.card>p{
    font-size: 13px;
    color: #28293892;
    max-width: 240px;
}


mainContainer>.ourmission{
    background-color:  #EEF4FA;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;
}
mainContainer>.ourmission>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
mainContainer>.ourmission>div>.mission{
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
}
mainContainer>.ourmission>div>.mission>img{
    width: 40%;
}
mainContainer>.ourmission>div>.mission>.laser{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
mainContainer>.ourmission>div>.mission>.laser>b{
    font-size: 14px;
}
mainContainer>.ourmission>div>.mission>.laser>p{
    font-size: 14px;
    color: #2829387c;
    max-width: 520px;
}
mainContainer>.pricing{
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 400px;
    margin-top: 70px;
}
mainContainer>.pricing>div{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1480px;
    align-items: center;
    gap: 20px;
}
mainContainer>.pricing>div>h2{
    font-size: 30px;
}
mainContainer>.pricing>div>p{
    font-size: 14px;
    color: #282938cb;
    max-width: 430px;
}
mainContainer>.frequently{
    width: 100%;
    display: flex;
    justify-content: center;
}
mainContainer>.frequently>div{
    display: flex;
    width: 80%;
    max-width: 1480px;
    flex-wrap: wrap;
    gap: 50px;
    margin: 70px 0;
}
mainContainer>.frequently>div>.questions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
mainContainer>.frequently>div>.questions>h2{
    max-width: 200px;
}
mainContainer>.frequently>div>.questions>p{
    color: #2405F2;
    font-size: 14px;
}
mainContainer>.frequently>div>.howMuch{
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    gap: 20px;
}
mainContainer>.frequently>div>.howMuch>div{
    min-height: 40px;
    border-bottom: 2px solid  rgba(194, 187, 255, 0.70);
    display: flex;
    justify-content: space-between;
}
mainContainer>.frequently>div>.howMuch>div>span{
    display: flex;
    gap: 20px;
}
mainContainer>.frequently>div>.howMuch>div>span>b{
    color: #2405F2;
}
mainContainer>.frequently>div>.howMuch>div>p{
    display: none;
}
mainContainer>.frequently>div>.howMuch>div>button{
    border: none;
    background-color: white;
    padding: 10px 20px;
    font-size: 20px;
}
mainContainer>.features{
    background-color:  #1C1E53;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
mainContainer>.features>div{
    display: flex;
    width: 80%;
    max-width: 1480px;
    padding: 70px 0;
    flex-wrap: wrap;
    gap: 20px;
}
mainContainer>.features>div>.youNeed{
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    gap: 20px;
    justify-content: space-evenly;
}
mainContainer>.features>div>.youNeed>h2{
    font-size: 35px;
    max-width: 320px;
}
mainContainer>.features>div>.youNeed>button{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #FCD980;
}
mainContainer>.features>div>.youNeed>button>a{
    text-decoration: none;
    color: black;
}
mainContainer>.features>div>.youNeed>button:active{
    background-color: #282938;
}


mainContainer>.features>div>.nkar{
    display: flex;
    flex: 1 1 400px;
    position: relative;
    justify-content: center;
}
mainContainer>.features>div>.nkar>img.mejtex{
    width: 80%;
}

mainContainer>.features>div>.nkar>img.ajkoxm{
    position: absolute;
    right: 0;
    bottom: -10%;
    width: 20%;
}
mainContainer>.features>div>.nkar>img.dzaxkoxm{
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 40%;
}
mainContainer>.first{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 70px 0;
}
mainContainer>.first>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
mainContainer>.first>div>.use{
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    justify-content: space-evenly;
}
mainContainer>.first>div>.use>h2{
    font-size: 27px;
}
mainContainer>.first>div>.use>p{
    color: rgba(0, 0, 0, 0.546);
    font-size: 14px;
}
mainContainer>.first>div>img{
    display: flex;
    flex: 1 1 400px;
    width: 70%;
}

mainContainer>.first1{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    background-color: #F4F6FC;
}
mainContainer>.first1>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
mainContainer>.first1>div>.use{
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    justify-content: space-evenly;
}
mainContainer>.first1>div>.use>h2{
    font-size: 27px;
}
mainContainer>.first1>div>.use>p{
    color: rgba(0, 0, 0, 0.546);
    font-size: 14px;
}
mainContainer>.first1>div>img{
    display: flex;
    flex: 1 1 400px;
    width: 70%;
}
mainContainer>.first2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;
    background-color: rgba(252, 217, 128, 0.10);
}
mainContainer>.first2>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
mainContainer>.first2>div>.use{
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    justify-content: space-evenly;
}
mainContainer>.first2>div>.use>h2{
    font-size: 27px;
}
mainContainer>.first2>div>.use>p{
    color: rgba(0, 0, 0, 0.546);
    font-size: 14px;
}
mainContainer>.first2>div>img{
    display: flex;
    flex: 1 1 400px;
    width: 70%;
}
mainContainer>.blog{
    width: 100%;
    display: flex;
    justify-content: center;
}
mainContainer>.blog>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
mainContainer>.blog>div>.students{
    margin: 70px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
mainContainer>.blog>div>.students>h2{
    font-size:150%;
    width: 50%;
}
mainContainer>.blog>div>.students>p{
    width: 60%;
    font-size: 13px;
    color: #282938a9;
}
mainContainer>.blog>div>.students>button{
    border: none;
    background-color: white;
    
}
mainContainer>.blog>div>.students>button>a{
    color: #2405F2;
    text-decoration: none;

}
mainContainer>.blog>div>.students>img{
    width: 100%;
}

mainContainer>.blog>div>.ourBlog{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
}
mainContainer>.blog>div>.lorem{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 70px 0;
}
mainContainer>.blog>div>.lorem>h2{
    font-size: 200%;
}
mainContainer>.blog>div>.lorem>ul{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    gap: 20px;
    font-size: 14px;
    color: #2829389f;
}
mainContainer>.blog>div>.lorem>p{
    color: #2829389f;
    font-size: 14px;
}
mainContainer>.contactUs{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 70px 0;
}
mainContainer>.contactUs>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
mainContainer>.contactUs>div>h2{
    font-size: 200%;
}
mainContainer>.contactUs>div>p{
    max-width: 450px;
    font-size: 14px;
    color: #2829389f;
}

mainContainer>form>.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 70px 0;
}
mainContainer>form>.contact>div{
    padding: 70px 0;
    width: 80%;
    max-width: 1480px;
    background-color:  #F4F6FC;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
mainContainer>form>.contact>div>.input1{
    display: flex;
    gap: 40px;
    width: 70%;
    /* flex-wrap: wrap; */
}
mainContainer>form>.contact>div>.input1>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* flex: 1 1 400px; */
}
mainContainer>form>.contact>div>.input1>div>input{
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.754);
    padding: 10px 20px;
    width: 100%;
    background-color: #F4F6FC;

}
mainContainer>form>.contact>div>.input2{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;

}
mainContainer>form>.contact>div>.input2>input{
    width: 100%;
    min-height: 70px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.754);
    padding: 10px 20px;
    color: black;
    background-color: #F4F6FC;
}
mainContainer>form>.contact>div>.input2>button{
    background-color:#282938 ;
    color: white;
    border-radius: 25px;
    padding: 15px 30px;
    border: none;
    width: 25%;
    margin-top: 20px;
    cursor: pointer;

}
mainContainer>.work{
    display: flex;
    width: 100%;
    background-color: rgba(244, 246, 252, 1);
    padding: 100px 0;
    justify-content: center;
}
mainContainer>.work>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1480px;
    text-align: center;
    gap: 30px;
}
mainContainer>.work>div>h2{
    font-size: 30px;
}
mainContainer>.work>div>p{
    color: #282938a1;
    font-size: 14px;
    max-width: 600px;
}
mainContainer>.ourWork{
    width: 100%;
    display: flex;
    margin: 70px 0;
    justify-content: center;
}
mainContainer>.ourWork>div{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    justify-content: center;
    gap: 40px;
}
mainContainer>.ourWork>div>.portfolio{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

mainContainer>.ourWork>div>.portfolio>img{
    width: 100%;
}
mainContainer>.ourWork>div>.portfolio>p{
    font-size: 13px;
    color: #282938af;
}
mainContainer>.ourWork>div>.portfolio>span{
    font-size: 14px;
}
mainContainer>.thogheter{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 70px 0;
}
mainContainer>.thogheter>div{
    width: 80%;
    max-width: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
mainContainer>.thogheter>div>h2{
    font-size: 25px;
    max-width: 400px;
}
mainContainer>.thogheter>div>p{
    font-size: 12px;
    color: #282938af;
    max-width: 350px;
}
mainContainer>.thogheter>div>button{
    background-color: #FCD980;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
}
mainContainer>.thogheter>div>button>a{
    text-decoration: none;
    color: black;

}




























@keyframes dzax {
    
    0%{
        transform: translate(0, 0);
    }
    35%{
        transform: translate(-110%, 0);
    }
    65%{
        transform: translate(-110%, -80%);
    }
    100%{
        transform: translate(-240%, -80%);
    }


    
}
@keyframes aj {
    
    0%{
        transform: translate(0,0);
    }
    35%{
        transform: translate(110%, 0%);
    }
    65%{
        transform: translate(110%, 80%);
    }
    100%{
        transform: translate(230%, 80%);
    }
    
}



@media only screen and (min-width: 1110px){
    mainContainer>navbar>div>p{
        display: none;
    }
     mainContainer>navbar>div>ul.aside>button.pakel{
        display: none;
    }
}
@media only screen and (max-width: 1110px) {
   
    mainContainer>navbar>div>ul.aside{
        display: flex;
        flex-direction: column;
        top: 0;
        background-color: rgba(9, 18, 66, 1);
        z-index: 2;
        padding: 30px;
        display: flex;
        position: absolute;
        left: -550px;
        cursor: pointer;
        align-items: flex-end;
    }
    
    mainContainer>Features>div>.cards{
        justify-content: center;
    }
    mainContainer>testimonials>div{
        justify-content: center;
    }
    mainContainer>.benefits>div>.cards{
        justify-content: center;
    }
    
  }
  @media only screen and (max-width: 980px) {
    mainContainer>.aboutUs>div{
        justify-content: center;
    }
    mainContainer>.ourmission>div>.mission>img{
        width: 80%;
    }
  }
  @media only screen and (max-width: 440px){
    mainContainer>header>div>.img>.dzaxNkar{
        animation: none;
    }
    mainContainer>header>div>.img>.ajNkar{
        animation: none;
    }
    mainContainer>nav>div>.cards{
        grid-template-columns: 1fr;
    }
    mainContainer>footer>div{
        gap: 0px;
    }
    mainContainer>footer>div>.orange{
        padding: 5px 10px;
    }
    mainContainer>.are>div{
        padding: 0;
    }
    

  }
